<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ComeBack.Web</title>

    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 h-screen w-screen">
   <div>
        <div class="mx-auto px-4 flex justify-between items-center h-20">
           <div class="font-bold text-2xl text-gray-800">
               LOGO
           </div>

            <ul class="text-center flex space-x-4">
               <li class="text-md font-bold hover:bg-gray-800 cursor-pointer px-3 py-2 text-gray-800 rounded-md transition-all hover:text-white">Home</li>
                <li class="text-md font-bold hover:bg-gray-800 cursor-pointer px-3 py-2 text-gray-800 rounded-md transition-all hover:text-white">Sobre</li>
                <li class="text-md font-bold hover:bg-gray-800 cursor-pointer px-3 py-2 text-gray-800 rounded-md transition-all hover:text-white">Ajuda</li>
           </ul>
       </div>
   </div>
        @RenderBody()

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
